<h1>All Tasks</h1>


<% @tasks.each do |task| %>
  <div class="flex flex-col shrink justify-around shadow-md rounded-md hover:scale-110 hover:ease-in-out duration-300 object-cover p-2 m-2 h-48 w-64">
    <h2><%= task.task %></h2>
    <p>Category: <%= task.user_id %></p>
    <p>Category: <%= task.category %></p>
    <p>Deadline: <%= task.deadline %></p>
    <p>Status: <%= task.status %></p>
    <p>Description: <%= task.description %></p>
  </div>
<% end %>


<%= link_to 'Back', tasks_path %>
