
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    UID
                </th>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Country
                </th>
                <th scope="col" class="px-6 py-3">
                    Birthday
                </th>
                <th scope="col" class="px-6 py-3">
                    Admin Status
                </th>

                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
    
            <% users.each do |user| %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= user.uid %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.username %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.email %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.first_name %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.last_name %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.country %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.birthday %>
                    </td>
                    <td class="px-6 py-4">
                        <%= user.admin_status %>
                    </td>

                    <td class="px-6 py-4">
                      <div class="flex flex-col items-center">
                        <div class="flex rounded hover:bg-green-500">
                          <%= link_to edit_user_path(user) do %>
                            <%= image_tag('https://www.svgrepo.com/show/193942/edit.svg', alt: 'Edit Icon', class: 'w-7 h-7') %>
                          <% end %>
                        </div>
                        <%= form_with(model: user, method: :delete, data: { confirm: "Are you sure?" }, local: true, class: 'delete-form') do |form| %>
                          <div class="flex rounded hover:bg-red-500 mt-2">
                            <%= form.button '', type: 'submit' do %>
                              <%= image_tag('https://www.svgrepo.com/show/244045/delete-trash.svg', alt: 'Delete Icon', class: 'h-7 w-7') %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>