<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <link rel="icon" type="image/svg+xml" href="https://www.svgrepo.com/show/344939/journal-bookmark.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  

    <main class="bg-slate-500 w-screen h-screen max-w-screen max-h-screen">
      <%= yield %>
    </main>

  
    
  </body>
</html>
