<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <link rel="icon" type="image/svg+xml" href="https://www.svgrepo.com/show/344939/journal-bookmark.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
   <% flash.each do |type, message| %>
  <div class="absolute ml-2 top-0 left-0 px-4 py-3 rounded transition-opacity duration-300 fade-out
              <%= type == 'notice' ? 'bg-green-100 border border-green-400 text-green-700' : 'bg-red-100 border border-red-400 text-red-700' %>">
    <%= message %>
    <button class="close-button" style="float: right;">X</button>
  </div>
<% end %>
=======
  
>>>>>>> main

    <main class="bg-slate-500 w-screen h-screen max-w-screen max-h-screen">
      <%= yield %>
    </main>

<<<<<<< HEAD
    <script>
    document.addEventListener("DOMContentLoaded", function() {
  var closeButtons = document.querySelectorAll('.close-button');
  closeButtons.forEach(function(button) {
    button.addEventListener('click', function(e) {
      e.target.parentElement.style.display = 'none';
    });
  });
});
    </script>
=======
  
>>>>>>> main
    
  </body>
</html>
